body{
    margin:0;
    padding:0;
    font-family:sans-serif;
    background-image: url(image.webp);
    background-size: cover;
}
.box{
 width:300px;
 padding:50px;
 position :absolute;
 top:50%;
 left:50%;
 transform:translate(-50%,-50%);
 background:rgba(73, 71, 71, 0.2) ;
 text-align:center;
 border-radius: 50px;
}
.box h1
{
    font-family: serif;
   color:black;
   text-transform : uppercase;
   font-weight: 1000;
}
.box input[type="text"] ,.box input[type="password"]
{
border:0;
background:none;
display:block;
margin: 20px auto;
text-align:center;
padding:14px 10px;
width:220px;
outline:none;
color:black;
border-radius: 5%;
transition: 0.25;
border:3px solid rgb(151, 101, 174);
}
.box input[type="text"]:focus,.box input[type="password"]:focus
{
    width:270px;
    border-color:rgb(155, 88, 178);

}
.box input[type="submit"]
{
 border:0;
background:rgb(172, 209, 224);
display:block;
margin: 20px auto;
text-align:center;
padding:14px 10px;
width:110px;
outline:none;
color:black;
transition: 0.25;
cursor:pointer;
border:3px solid rgb(142, 211, 213);


}

